@use 'mixins' as mix;
@use 'variables' as *;
@use 'sass:color';

// Styling for the navbar
#mainNav {
  border-bottom: none; // Remove border that might cause gap
  background-color: $primary;
  @include mix.serif-font;
  @include mix.transition-all;
  min-height: 72px; // Consistent navbar height
  margin-bottom: 0; // Ensure no margin
  
  .navbar-toggler {
    border-color: rgba($white, 0.3);
    &:focus {
      box-shadow: 0 0 0 0.2rem rgba($white, 0.25);
    }
  }
  
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.8%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  .navbar-brand {
    font-weight: 700;
    text-transform: uppercase;
    color: $white;
    @include mix.serif-font;
    &:focus,
    &:hover {
      color: color.scale($white, $alpha: -20%);
    }
  }
  .navbar-nav {
    > li.nav-item {
       > a.nav-link,
      > a.nav-link:focus {
        font-size: .9rem;
        font-weight: 700;
        text-transform: uppercase;
        color: $white;
        &:hover {
          color: color.scale($white, $alpha: -20%);
        }
        &.active {
          color: #8d8d8d !important;
          background-color: transparent;
          &:hover {
            background-color: transparent;
            color: #8d8d8d !important;
          }
        }
      }
    }
  }
  @media (min-width: 992px) {
    border-color: transparent;
    background-color: transparent;
    .navbar-brand {
      color: color.scale($white, $alpha: -30%);
      &:focus,
      &:hover {
        color: $white;
      }
    }
    .navbar-nav > li.nav-item > a.nav-link {
      padding: 0.5rem 1rem;
    }
    .navbar-nav > li.nav-item > a.nav-link,
    .navbar-nav > li.nav-item > a.nav-link:focus {
      color: fade-out($white, .3);
      &:hover {
        color: $white;
      }
    }
    &.navbar-shrink {
      border-bottom: 1px solid fade-out($primary, .8);
      background-color: $primary;
      .navbar-brand {
        color: $white;
        &:focus,
        &:hover {
          color: color.scale($white, $alpha: -20%);
        }
      }
      .navbar-nav > li.nav-item > a.nav-link,
      .navbar-nav > li.nav-item > a.nav-link:focus {
        color: $white;
        &:hover {
          color: color.scale($white, $alpha: -20%);
        }
        &.active {
          color: #8d8d8d !important; // Gold color for better contrast
          &:hover {
            color: #8d8d8d !important; // Lighter gold on hover
          }
        }
      }
    }
  }
}
