@use 'mixins' as mix;
@use 'variables' as *;

#languages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#languages * {
  color: $secondary;
  border-color: $secondary;
}